body{
  background: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.startBtn{
  width: 80px;
  height: 80px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  z-index: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}


.modelsContainer{
  position: absolute;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  width: 86px;
  height: 86px;
  margin: 0;
  margin-top: -43px;
  margin-left: -43px;
  padding: 0;
  border-radius: 50%;
  z-index: 2;
  transition: all 1s ease-in;
  overflow: hidden;
}


/* Human figures container */
.humanContainer{
  top: 5%;
  left: 5%;
  border: 3px solid rgb(15, 152, 231);
  box-shadow: 0 0 10px rgb(15, 152, 231), 0 0 40px rgb(15, 152, 231) , 0 0 80px rgb(15, 152, 231), 0 0 100px rgb(15, 152, 231);
}

.humanContainer:hover{
  box-shadow: 0 0 10px rgb(15, 152, 231), 0 0 40px rgb(15, 152, 231) , 0 0 80px rgb(15, 152, 231),
   0 0 100px rgb(15, 152, 231) , 0 0 130px rgb(15, 152, 231), 0 0 160px rgb(15, 152, 231), 0 0 190px rgb(15, 152, 231);
}

.humanContainer::before{
  content: '';
  background: linear-gradient(to left, rgba(15, 152, 231, 0.15), transparent);
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  transform: skewX(45deg);
  transition: all 1s ease-in-out;
}

.humanContainer:hover::before{
  width: 50%;
}

.humanContainer::after{
  content: '';
  background: linear-gradient(to right, rgba(15, 152, 231, 0.15), transparent);
  position: absolute;
  top: 0;
  left: 85%;
  width: 50%;
  height: 100%;
  transform: skewX(45deg);
  transition: all 1s ease-in-out;
}

.humanContainer:hover::after{
  left: 50%;
}

.humanModels{
  display: none;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  border: 3px solid black;
  border-radius: 50%;
  z-index: 3;
  transition: all 1s ease-in;
  border: 3px solid rgb(15, 152, 231);
}

.humanModels:hover{
  width: 120px;
  height: 120px;
  box-shadow: 0 0 5px rgb(15, 152, 231), 0 0 15px rgb(15, 152, 231) , 0 0 30px rgb(15, 152, 231), 0 0 45px rgb(15, 152, 231);
}

.human{
  border: 3px solid rgb(15, 152, 231);
}

/* animals figures container */

.animalContainer{
  top: 5%;
  left: 15%;
  border: 3px solid rgb(252, 50, 50);
  box-shadow: 0 0 10px rgb(252, 50, 50), 0 0 40px rgb(252, 50, 50) , 0 0 80px rgb(252, 50, 50), 0 0 100px rgb(252, 50, 50);
}

.animalContainer:hover{
  box-shadow: 0 0 10px rgb(252, 50, 50), 0 0 40px rgb(252, 50, 50) , 0 0 80px rgb(252, 50, 50),
   0 0 100px rgb(252, 50, 50) , 0 0 130px rgb(252, 50, 50), 0 0 160px rgb(252, 50, 50), 0 0 190px rgb(252, 50, 50);
}

.animalContainer::before{
  content: '';
  background: linear-gradient(to left, rgba(252, 50, 50, 0.15), transparent);
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  transform: skewX(45deg);
  transition: all 1s ease-in-out;
}

.animalContainer:hover::before{
  width: 50%;
}

.animalContainer::after{
  content: '';
  background: linear-gradient(to right, rgba(252, 50, 50, 0.15), transparent);
  position: absolute;
  top: 0;
  left: 85%;
  width: 50%;
  height: 100%;
  transform: skewX(45deg);
  transition: all 1s ease-in-out;
}

.animalContainer:hover::after{
  left: 50%;
}

.animalModels{
  display: none;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  border: 3px solid black;
  border-radius: 50%;
  z-index: 3;
  transition: all 2s ease-in;
}

.animal{
  border: 3px solid rgb(252, 50, 50);
}

/* miniatures */

.miniatureContainer{
  top: 5%;
  left: 25%;
  border: 3px solid rgb(10, 219, 20);
  box-shadow: 0 0 10px rgb(10, 219, 20), 0 0 40px rgb(10, 219, 20) , 0 0 80px rgb(10, 219, 20), 0 0 100px rgb(10, 219, 20);
}

.miniatureContainer:hover{
  box-shadow: 0 0 10px rgb(10, 219, 20), 0 0 40px rgb(10, 219, 20) , 0 0 80px rgb(10, 219, 20),
   0 0 100px rgb(10, 219, 20) , 0 0 130px rgb(10, 219, 20), 0 0 160px rgb(10, 219, 20), 0 0 190px rgb(10, 219, 20);
}

.miniatureContainer::before{
  content: '';
  background: linear-gradient(to left, rgba(0, 219, 20, 0.15), transparent);
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  transform: skewX(45deg);
  transition: all 1s ease-in-out;
}

.miniatureContainer:hover::before{
  width: 50%;
}

.miniatureContainer::after{
  content: '';
  background: linear-gradient(to right, rgba(0, 219, 20, 0.15), transparent);
  position: absolute;
  top: 0;
  left: 85%;
  width: 50%;
  height: 100%;
  transform: skewX(45deg);
  transition: all 1s ease-in-out;
}

.miniatureContainer:hover::after{
  left: 50%;
}

.miniatureModels{
  display: none;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  border: 3px solid black;
  border-radius: 50%;
  z-index: 3;
  transition: all 1s ease-in;
  border: 3px solid rgb(10, 219, 20);
}

.miniatureModels:hover{
  width: 120px;
  height: 120px;
  box-shadow: 0 0 5px rgb(10, 219, 20), 0 0 15px rgb(10, 219, 20) , 0 0 30px rgb(10, 219, 20), 0 0 45px rgb(10, 219, 20);
}

.miniature{
  border: 3px solid rgb(10, 219, 20);
}

/* wow */

.wowContainer{
  top: 5%;
  left: 35%;
  border: 3px solid rgb(230, 16, 183);
  box-shadow: 0 0 10px rgb(230, 16, 183), 0 0 40px rgb(230, 16, 183) , 0 0 80px rgb(230, 16, 183), 0 0 100px rgb(230, 16, 183);
}

.wowContainer:hover{
  box-shadow: 0 0 10px rgb(230, 16, 183), 0 0 40px rgb(230, 16, 183) , 0 0 80px rgb(230, 16, 183),
   0 0 100px rgb(230, 16, 183) , 0 0 130px rgb(230, 16, 183), 0 0 160px rgb(230, 16, 183), 0 0 190px rgb(230, 16, 183);
}

.wowContainer::before{
  content: '';
  background: linear-gradient(to left, rgba(230, 16, 183, 0.15), transparent);
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  transform: skewX(45deg);
  transition: all 1s ease-in-out;
}

.wowContainer:hover::before{
  width: 50%;
}

.wowContainer::after{
  content: '';
  background: linear-gradient(to right, rgba(230, 16, 183, 0.15), transparent);
  position: absolute;
  top: 0;
  left: 85%;
  width: 50%;
  height: 100%;
  transform: skewX(45deg);
  transition: all 1s ease-in-out;
}

.wowContainer:hover::after{
  left: 50%;
}

.wowModels{
  display: none;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  border: 3px solid black;
  border-radius: 50%;
  z-index: 3;
  transition: all 1s ease-in;
  border: 3px solid rgb(230, 16, 183);
}

.wowModels:hover{
  width: 120px;
  height: 120px;
  box-shadow: 0 0 5px rgb(230, 16, 183), 0 0 15px rgb(230, 16, 183) , 0 0 30px rgb(230, 16, 183), 0 0 45px rgb(230, 16, 183);
}

.wow{
  border: 3px solid rgb(230, 16, 183);
}

/* pokemon container */
.pokemonContainer{
  top: 5%;
  left: 45%;
  border: 3px solid rgb(224, 204, 17);
  box-shadow: 0 0 10px rgb(224, 204, 17), 0 0 40px rgb(224, 204, 17) , 0 0 80px rgb(224, 204, 17), 0 0 100px rgb(224, 204, 17);
}

.pokemonContainer:hover{
  box-shadow: 0 0 10px rgb(224, 204, 17), 0 0 40px rgb(224, 204, 17) , 0 0 80px rgb(224, 204, 17),
   0 0 100px rgb(224, 204, 17) , 0 0 130px rgb(224, 204, 17), 0 0 160px rgb(224, 204, 17), 0 0 190px rgb(224, 204, 17);
}

.pokemonContainer::before{
  content: '';
  background: linear-gradient(to left, rgba(224, 204, 17, 0.15), transparent);
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  transform: skewX(45deg);
  transition: all 1s ease-in-out;
}

.pokemonContainer:hover::before{
  width: 50%;
}

.pokemonContainer::after{
  content: '';
  background: linear-gradient(to right, rgba(224, 204, 171, 0.15), transparent);
  position: absolute;
  top: 0;
  left: 85%;
  width: 50%;
  height: 100%;
  transform: skewX(45deg);
  transition: all 1s ease-in-out;
}

.pokemonContainer:hover::after{
  left: 50%;
}

.pokemonModels{
  display: none;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  border: 3px solid black;
  border-radius: 50%;
  z-index: 3;
  transition: all 1s ease-in;
  border: 3px solid rgb(224, 204, 17);
}

.pokemonModels:hover{
  width: 120px;
  height: 120px;
  box-shadow: 0 0 5px rgb(224, 204, 17), 0 0 15px rgb(224, 204, 17) , 0 0 30px rgb(224, 204, 17), 0 0 45px rgb(224, 204, 17);
}

.pokemon{
  border: 3px solid rgb(224, 204, 17);
}

/* zelda container */
.zeldaContainer{
  top: 5%;
  left: 55%;
  border: 3px solid rgb(230, 110, 12);
  box-shadow: 0 0 10px rgb(230, 110, 12), 0 0 40px rgb(230, 110, 12) , 0 0 80px rgb(230, 110, 12), 0 0 100px rgb(230, 110, 12);
}

.zeldaContainer:hover{
  box-shadow: 0 0 10px rgb(230, 110, 12), 0 0 40px rgb(230, 110, 12) , 0 0 80px rgb(230, 110, 12),
   0 0 100px rgb(230, 110, 12) , 0 0 130px rgb(230, 110, 12), 0 0 160px rgb(230, 110, 12), 0 0 190px rgb(230, 110, 12);
}

.zeldaContainer::before{
  content: '';
  background: linear-gradient(to left, rgba(230, 110, 12, 0.15), transparent);
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  transform: skewX(45deg);
  transition: all 1s ease-in-out;
}

.zeldaContainer:hover::before{
  width: 50%;
}

.zeldaContainer::after{
  content: '';
  background: linear-gradient(to right, rgba(230, 110, 12, 0.15), transparent);
  position: absolute;
  top: 0;
  left: 85%;
  width: 50%;
  height: 100%;
  transform: skewX(45deg);
  transition: all 1s ease-in-out;
}

.zeldaContainer:hover::after{
  left: 50%;
}

.zeldaModels{
  display: none;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  border: 3px solid black;
  border-radius: 50%;
  z-index: 3;
  transition: all 1s ease-in;
  border: 3px solid rgb(230, 110, 12);
}

.zeldaModels:hover{
  width: 120px;
  height: 120px;
  box-shadow: 0 0 5px rgb(230, 110, 12), 0 0 15px rgb(230, 110, 12) , 0 0 30px rgb(230, 110, 12), 0 0 45px rgb(230, 110, 12);
}

.zelda{
  border: 3px solid rgb(230, 110, 12);
}


.model1ID{
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 2;
grid-row-end: 3;
}

.model2ID{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  }

.model3ID{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
    }

.model4ID{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  }


  .imageViewer{
    background-color: green;
    border: 5px solid rgb(228, 231, 42);
    box-shadow: 0 0 10px rgb(228, 231, 42), 0 0 40px rgb(228, 231, 42) , 0 0 80px rgb(228, 231, 42), 0 0 100px rgb(228, 231, 42), 0 0 130px rgb(228, 231, 42);
    border-radius: 10px;
    display: none;
    flex-direction: column;
    position: absolute;
    justify-items: center;
    align-items: center;
    width: 1000px;
    height: 724px;
    margin: 0;
    margin-top: -374px;
    margin-left: -500px;
    padding: 0;
    top: 50%;
    left: 50%;
    z-index: 5;
  }

  .imageScreenBackground{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
  }


  .titleContainer{
    background-color: red;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 48px;
  }

  .imageTitle{
    width: 100%;
    height: 100%;
    font-size: 1em;
    margin: 0;
    text-align: center;
  }

  .closeBtn{
    background-color: blue;
    margin: 0;
    padding: 0;
    right: 0px;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;

  }
  .closeIcon{
    width: 35px;
    height: 35px;
  }

  .imgContainer{
    display: flex;
    width: 100%;
    height: 676px;
  }

  .imgViewed{
    height: 100%;
    width: 90%;
  }

  .forwards{
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 5%;
  }
  .backwards{
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 5%;
  }
  .forwardsBtn{
    background-color: purple;
    width: 100%;
    height: 50px;
  }

  .backwardsBtn{
    background-color: purple;
    width: 100%;
    height: 50px;
  }
  