body{
  background: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.startBtn{
  width: 80px;
  height: 80px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  z-index: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.modelsContainer{
  position: absolute;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  width: 86px;
  height: 86px;
  margin: 0;
  margin-top: -43px;
  margin-left: -43px;
  padding: 0;
  border-radius: 50%;
  z-index: 2;
  transition: all 1s ease-in;
}

.humanContainer{
  top: 5%;
  left: 5%;
  border: 3px solid rgb(15, 152, 231);
  box-shadow: 0 0 10px rgb(15, 152, 231), 0 0 40px rgb(15, 152, 231) , 0 0 80px rgb(15, 152, 231), 0 0 100px rgb(15, 152, 231);
}

.humanModels{
  display: none;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  border: 3px solid black;
  border-radius: 50%;
  z-index: 3;
  transition: all 1s ease-in;
  border: 3px solid rgb(15, 152, 231);
}
.humanModels:hover{
  width: 120px;
  height: 120px;
  box-shadow: 0 0 5px rgb(15, 152, 231), 0 0 15px rgb(15, 152, 231) , 0 0 30px rgb(15, 152, 231), 0 0 45px rgb(15, 152, 231);
}

.human{
  border: 3px solid rgb(15, 152, 231);
}


.animalContainer{
  top: 5%;
  left: 15%;
  border: 3px solid rgb(252, 50, 50);
  box-shadow: 0 0 10px rgb(252, 50, 50), 0 0 40px rgb(252, 50, 50) , 0 0 80px rgb(252, 50, 50), 0 0 100px rgb(252, 50, 50);
}

.animalModels{
  display: none;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  border: 3px solid black;
  border-radius: 50%;
  z-index: 3;
  transition: all 2s ease-in;
}

.animal{
  border: 3px solid rgb(252, 50, 50);
}

.model1ID{
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 2;
grid-row-end: 3;
}

.model2ID{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  }

.model3ID{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
    }

.model4ID{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  }


  .imageViewer{
    background-color: green;
    display: none;
    position: absolute;
    justify-items: center;
    align-items: center;
    width: 700px;
    height: 700px;
    margin: 0;
    margin-top: -350px;
    margin-left: -350px;
    padding: 0;
    top: 50%;
    left: 50%;
    z-index: 5;
  }

  .imageScreenBackground{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
  }

  .closeBtn{
    width: 10px;
    height: 10px;
  }